label, input {
    display: block;
}
input {
    margin-bottom: 1rem;
}
.name-box {
    width: 48.5%;
    display: inline-block;
}

input {
    width: 95%;
}

input[type="submit"] {
    width: auto;
}